
input.ng-touched.ng-invalid{
    border-color: red;
}
input.ng-valid{
    border-color: #28a745;
}
table  tr:hover{
    cursor: pointer;
    
}
.fas{
color: red !important;
}
 .fa-edit{
    color: #28a745 !important;
}
